.UserLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F2F4F7;
}

.User-content {
  flex: 1;
  width: 100%;
  padding-top: 100px;
}

.content-fill {
  width: 100%;
  max-width: none !important;
  padding-bottom: 50px;
  min-height: 500px;
}
