.registered-courses-page {
  padding: 0px 24px;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}

.registered-courses-grid{
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

/* .registered-courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
} */