.course-card {
  width: auto;
  min-height: 270px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.top-half {
  min-height: 100px;
  background-color: rgb(89, 121, 207);
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  color: white;
  letter-spacing: 1px;
}

.language {
  margin-top: 10px;
  padding: 5px;
}

.bottom-half {
  flex: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  gap: 10px;
  text-align: left;
  justify-content: space-between;
}

.course-description {
  font-weight: 470;
  font-size: 18px;
  padding-top: 15px;
  line-height: 1.7;
  letter-spacing: 0.5;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 80%;
  margin: 10px;
}

.action-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
}

.action-buttons button:hover {
  background-color: #eee;
}