.course-card-link {
  text-decoration: none;
  color: inherit;
}

.course-card-new {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.course-card-new:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Phần ảnh */
.course-image-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  background-color: #f5f5f5;
}

.course-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Phần thông tin */
.course-info-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.course-title-new {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 3px 0;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 48px;
}

.teacher {
  font-size: 16px;
  font-weight: 500;
  color: #1e00a3;
  /* border-top: 1px solid rgb(230, 230, 230); */
  /* border-bottom: 1px solid rgb(228, 228, 228); */
  margin: 0 0 3px 0;
}

/* Phần giá */
.course-price-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.new-price {
  font-size: 18px;
  font-weight: 700;
  color: #d70018;
}

.old-price {
  font-size: 14px;
  color: #707070;
  text-decoration: line-through;
}

/* Phần thống kê */
.course-stats-container {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  color: #888;
  border-top: 1px solid #f0f0f0;
  padding-top: 10px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.status-tag-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
}

.discount-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d70018;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;

  border-bottom-left-radius: 8px;
}
